Update PgpKeyRingGenerator and PGPSecretKey key use of SHA256 Digest

Currently it supports only the use of SHA1. The latest changes in RFC 4880 in section 13.6  for DSA http://tools.ietf.org/html/rfc4880#section-13.6 if a value for DSA higher than 1024 us used SHA1 is no longer valid this will also affect RFC 6637  where it would be SHA 256. Here is an example of a key with DSA 20148 with SHA1 used in pgpdump:
```
Old: Public Key Packet(tag 6)(814 bytes)
        Ver 4 - new
        Public key creation time - Sat Jun  7 00:44:19 UTC 2014
        Pub alg - DSA Digital Signature Algorithm(pub 17)
        DSA p(2048 bits) - ...
        DSA q(256 bits) - ...
        DSA g(2047 bits) - ...
        DSA y(2048 bits) - ...
Old: User ID Packet(tag 13)(32 bytes)
        User ID - Carlos Perez <test@dsa2test.com>
Old: Signature Packet(tag 2)(113 bytes)
        Ver 4 - new
        Sig type - Generic certification of a User ID and Public Key packet(0x10).
        Pub alg - DSA Digital Signature Algorithm(pub 17)
        Hash alg - SHA1(hash 2)
        Hashed Sub: signature creation time(sub 2)(4 bytes)
                Time - Sat Jun  7 00:44:19 UTC 2014
        Hashed Sub: preferred symmetric algorithms(sub 11)(6 bytes)
                Sym alg - AES with 256-bit key(sym 9)
                Sym alg - AES with 192-bit key(sym 8)
                Sym alg - AES with 128-bit key(sym 7)
                Sym alg - Twofish with 256-bit key(sym 10)
                Sym alg - CAST5(sym 3)
                Sym alg - Triple-DES(sym 2)
        Hashed Sub: preferred hash algorithms(sub 21)(4 bytes)
                Hash alg - SHA256(hash 8)
                Hash alg - SHA384(hash 9)
                Hash alg - SHA512(hash 10)
                Hash alg - RIPEMD160(hash 3)
        Hashed Sub: preferred compression algorithms(sub 22)(3 bytes)
                Comp alg - ZLIB <RFC1950>(comp 2)
                Comp alg - ZIP <RFC1951>(comp 1)
                Comp alg - BZip2(comp 3)
        Sub: issuer key ID(sub 16)(8 bytes)
                Key ID - 0x9379B62B9FF38C62
        Hash left 2 bytes - 44 ec 
        DSA r(256 bits) - ...
        DSA s(254 bits) - ...
                -> hash(DSA q bits)
Old: Public Subkey Packet(tag 14)(525 bytes)
        Ver 4 - new
        Public key creation time - Sat Jun  7 00:44:19 UTC 2014
        Pub alg - ElGamal Encrypt-Only(pub 16)
        ElGamal p(2048 bits) - ...
        ElGamal g(2 bits) - ...
        ElGamal y(2048 bits) - ...
Old: Signature Packet(tag 2)(113 bytes)
        Ver 4 - new
        Sig type - Subkey Binding Signature(0x18).
        Pub alg - DSA Digital Signature Algorithm(pub 17)
        Hash alg - SHA1(hash 2)
        Hashed Sub: signature creation time(sub 2)(4 bytes)
                Time - Sat Jun  7 00:44:19 UTC 2014
        Hashed Sub: preferred symmetric algorithms(sub 11)(6 bytes)
                Sym alg - AES with 256-bit key(sym 9)
                Sym alg - AES with 192-bit key(sym 8)
                Sym alg - AES with 128-bit key(sym 7)
                Sym alg - Twofish with 256-bit key(sym 10)
                Sym alg - CAST5(sym 3)
                Sym alg - Triple-DES(sym 2)
        Hashed Sub: preferred hash algorithms(sub 21)(4 bytes)
                Hash alg - SHA256(hash 8)
                Hash alg - SHA384(hash 9)
                Hash alg - SHA512(hash 10)
                Hash alg - RIPEMD160(hash 3)
        Hashed Sub: preferred compression algorithms(sub 22)(3 bytes)
                Comp alg - ZLIB <RFC1950>(comp 2)
                Comp alg - ZIP <RFC1951>(comp 1)
                Comp alg - BZip2(comp 3)
        Sub: issuer key ID(sub 16)(8 bytes)
                Key ID - 0x9379B62B9FF38C62
        Hash left 2 bytes - e1 de 
        DSA r(255 bits) - ...
        DSA s(256 bits) - ...
                -> hash(DSA q bits)
```

when we try to import it we can see that GPG will complain 

```
gpg2 --import -v ~/Desktop/9379B62B9FF38C62_pub.asc 
Version: BCPG C# v1.7.5056.37991
gpg: armor header: 
gpg: pub  2048D/9FF38C62 2014-06-07  Carlos Perez <test@dsa2test.com>
gpg: DSA key 9FF38C62 requires a 256 bit or larger hash
gpg: DSA key 9FF38C62 requires a 256 bit or larger hash
gpg: key 9FF38C62: invalid self-signature on user ID "Carlos Perez <test@dsa2test.com>"
gpg: DSA key 9FF38C62 requires a 256 bit or larger hash
gpg: DSA key 9FF38C62 requires a 256 bit or larger hash
gpg: key 9FF38C62: invalid subkey binding
gpg: key 9FF38C62: skipped user ID "Carlos Perez <test@dsa2test.com>"
gpg: key 9FF38C62: skipped subkey
gpg: key 9FF38C62: no valid user IDs
gpg: this may be caused by a missing self-signature
gpg: Total number processed: 1
gpg:           w/o user IDs: 1
```
I used the following code to generate the DSA key 
```cs
public AsymmetricCipherKeyPair DSA2KeyGen(int KeySize)
        {
            // Check that we got a proper key size
            int[] allowedKeySizes = {1024, 2048, 3072};
            if (!(allowedKeySizes.Contains(KeySize)))
            {
                throw new ArgumentException("KeySize provided is not 1024, 2048 or 3072.", "KeySize");
            }

            // Set the proper N parameter depending on the bit key size.
            int DSA2NParam;
            if (KeySize == 1024)
            {
                DSA2NParam = 160;
            }
            else
            {
                DSA2NParam = 256;
            }

            var secRand = new SecureRandom();
            var dsa2Genertor = GeneratorUtilities.GetKeyPairGenerator("DSA");

            // Generate the proper parameters for the DSA2 Key.
            var digest = new Sha256Digest();
            var paramGen = new DsaParametersGenerator(digest);
            var dsaParamsList = new DsaParameterGenerationParameters(KeySize, DSA2NParam, 80, secRand);
            paramGen.Init(dsaParamsList);

            // This will take a while since it has to find a valid random prime number for use.
            var dsaParams = paramGen.GenerateParameters();

            var dsaOptions = new DsaKeyGenerationParameters(secRand,dsaParams);
            AsymmetricCipherKeyPair keyPair = dsa2Genertor.GenerateKeyPair();

            return keyPair;
        }
```

Resolved by merge of #15 .