Missing Embedded Signature subpacket generation in PgpSignatureGenerator.AddSubkey

In RFC4880 section 5.2.1 (https://tools.ietf.org/html/rfc4880#section-5.2.1) it is stated that a subkey binding signature which relates to a signing subkey MUST have an embedded signature subpacket. The embedded signature is the reverse signature of the subkey against the master key.

I think, it should be implemented in PgpSignatureGenerator.AddSubkey.

I could not find an appropriate implementation in the BC-java either.


It's a bit of a funny one as for some keys it's not possible to make the call as to whether the signature should be generated and the user needs to provide some details about what kind of signature should be generated. A second method has been added which auto-generates the additional signature when required.